@model CRUD_Q10.Models.TblTest

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>TblTest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PruebaNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PruebaNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PruebaApellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PruebaApellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PruebaGenero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PruebaGenero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PruebaTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PruebaTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PruebaMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PruebaMail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PruebaIdentificacion">Edit</a> |
    <a asp-action="Index">Volver al inicio</a>
</div>
